.head{
  width:100%;
  background-color:#17202e;
  height:64px
}
.head .nuls-head-content{
  width:1024px;
  height:64px;
  margin:0 auto
}
.head .nuls-head-content .nuls-logo-content{
  width:108px;
  height:42px;
  float:left;
  background: url(../img/logo.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  top:50%;
  margin-top:-21px
}
.head .nuls-head-content .nuls-logo-content a{
  display:inline-block;
  width: 100%;
  height: 100%;
}
.head .nuls-head-content .nuls-navigation-box{
  float:left;
  margin:0;
  padding: 0;
  height:100%;
  display:inline-block
}
.head .nuls-head-content .nuls-navigation-box>li{
  list-style:none;
  margin-left:60px;
  float:left;
  height: 100%;
  line-height:64px
}
.head .nuls-head-content .nuls-navigation-box>li a{
  color:#fff;
  font-size:16px;
  text-decoration: none;
}
.head .nuls-head-content .nuls-navigation-box>li>span{
  position:relative;
  display: inline-block
}
.head .nuls-head-content .nuls-navigation-box>li>span i.el-icon-arrow-down{
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}
.head .nuls-head-content .nuls-search-box{
  float:right;
  height: 26px;
  position: relative;
  top:50%;
  margin-top:-13px
}
.head .nuls-head-content .nuls-language-box{
  float: right;
  height: 26px;
  position: relative;
  top:50%;
  margin-top:-13px;
  background-color: #384252;
  margin-left: 5px;
}
.head .nuls-head-content .nuls-language-box select{
  height: 26px;
  background-color: transparent;
  outline: 0;
  border: 0;
  color: #bcc4cc;
}
.head .nuls-head-content .nuls-search-box input{
  font-size:14px;
  color: #bcc4cc;
  background-color:#384252;
  border:none;
  width:340px;
  padding:0 7px;
  height:26px;
  outline: none;
}
.head .nuls-head-content .nuls-search-box i.el-icon-search{
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 20px;
  color: white;
  margin-top: -10px;
}
/*下拉列表*/
.nuls-dropdown-list{
  position:fixed;
  margin:0;
  padding:0;
  width:100px;
  border:1px solid #2a3d72;
  display:none;
  z-index: 1000
}
.nuls-dropdown-list>li{
  background-color:#0b1422;
  list-style:none;
  font-size:16px;
  height:40px;
  color:#fff;
  line-height:40px;
  text-align: center
}
.nuls-dropdown-list>li>a{
  display:block;
  width:100%;
  height:100%;
  font-size:14px!important
}
.nuls-dropdown-list>li>a:hover{
  background-color:#4a79b7;
}
footer{
  position: absolute;
  bottom: 0;
  height: 80px;
  background: #0c0e12;;
  width:100%
}

footer .nuls-footer {
  width: 1024px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

footer .nuls-footer a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-right: 39px
}

footer .nuls-footer a:hover i {
  background-image: url(../img/footer-icon-active.png)
}

footer .nuls-footer a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: inline-block;
  background-image: url(../img/footer-icon.png);
  background-repeat: no-repeat
}

footer .nuls-footer a:last-child {
  margin-right: 0
}

footer .nuls-footer a.twitter i {
  width: 37px;
  height: 30px;
  background-position: 0 0
}

footer .nuls-footer a.reddit i {
  width: 32px;
  height: 32px;
  background-position: -117px 0
}

footer .nuls-footer a.telegram i {
  width: 36px;
  height: 26px;
  background-position: 0 -47px
}

footer .nuls-footer a.steemit i {
  width: 32px;
  height: 32px;
  background-position: -57px 0
}

footer .nuls-footer a.github i {
  width: 28px;
  height: 31px;
  background-position: -169px 0
}

footer .nuls-footer a.facebook i {
  width: 14px;
  height: 30px;
  background-position: -176px -43px
}

footer .nuls-footer a.slack i {
  width: 29px;
  height: 29px;
  background-position: -64px -44px
}
footer .nuls-footer a.gitter i {
  width: 22px;
  height: 31px;
  background-position: -124px -44px
}
.nuls-home-content {
  width:1024px;
  margin:0 auto;
  padding-bottom: 130px;
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head {
  height: 80px;
  position:relative
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head>div{
  height:30px;
  line-height:30px;
  width:100%;
  position:absolute;
  bottom: 0
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head>div>span {
  width:40px;
  display:inline-block
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head>div>span>i{
  vertical-align: middle;
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head>div>label{
  color:#fff;
  font-size:16px;
  vertical-align: middle;
}
.nuls-home-content .nuls-home-content-head >div> .nuls-home-content-head-left-head>div>a{
  vertical-align: middle;
  font-size: 14px;
  color:#88baff;
  float:right;
  text-decoration: none;
}
.nuls-home-content .nuls-home-content-head .nuls-infomation-box{
  margin-top:20px;
}
.nuls-home-content .nuls-home-content-head .entireNetworkInfomation{
  margin-right: 30px;
}
.nuls-home-content .nuls-home-content-head {
  /*左边图表 全网信息*/
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-left {
  width:50%;
  float: left
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-left .nuls-table{
  padding:8px 30px 20px 30px;
  color:#fff;
  font-size:14px;
  background-color:#17202e
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-left .nuls-table .nuls-table-row{
  display:table-row
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-left .nuls-table .nuls-table-row .nuls-table-cell{
  display: table-cell;
  border-bottom: 1px solid #333f51;
  width:1%;
  height:33px;
  padding:0 10px;
  line-height: 33px;
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-left .nuls-transaction-history{
  margin-top:20px;
  height: 278px;
}
.nuls-home-content .nuls-home-content-head {
  /*右边区块*/
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right {
  float:right;
  width:50%
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list{
  margin:0;
  padding: 0;
  color:#fff;
  font-size:14px
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list li{
  list-style: none;
  padding:16px 20px 0px 20px;
  height: 59px;
  margin-bottom:10px;
  border-left: 2px solid #658ec7;
  background-color: #17202e
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list li>div{
  padding-bottom:16px;
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list li .nuls-table-cell{
  display:table-cell;
  width:1%
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list li .nuls-table-cell span{
  /*margin-left:5px*/
}
.nuls-home-content .nuls-home-content-head .nuls-home-content-head-right .nuls-block-list li .nuls-table-cell span a{
  text-decoration: none;
  color:#88baff;
}
.nuls-home-content .nuls-transaction-container .nuls-transaction-head{
  position:relative;
  height:60px;
  line-height:60px
}
.nuls-home-content .nuls-transaction-container .nuls-transaction-head span{
  width:40px;
  display:inline-block
}
.nuls-home-content .nuls-transaction-container .nuls-transaction-head span i{
  vertical-align: text-top;
}
.nuls-home-content .nuls-transaction-container .nuls-transaction-head label{
  color:#fff;
  font-size:16px;
}
.nuls-home-content .nuls-transaction-container .nuls-transaction-head a{
  color:#88baff;
  text-decoration: none;
  float:right;
  font-size:14px;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0b1422;
  height: 100%;
}
/*change define element ui style*/
.el-breadcrumb__inner, .el-breadcrumb__inner a {
  color: #fff;
  font-size: 12px;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #88baff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #88baff !important;
}
.el-pagination span:not([class*=suffix]) {
  color: #c1c5c9;
  font-size: 10px;
  border: 1px solid #24426c;
  padding: 0 6px;
  background-color: #17202e;
}
.el-pagination.is-background .el-pager li {
  background-color: #17202e;
  border: 1px solid #24426c;
  padding: 0 6px;
  font-size: 10px;
  color: #c1c5c9;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #17202e;
  border: 1px solid #658ec7;
}
.el-pagination__jump {
  border: none !important;
}
.el-pagination__editor.el-input .el-input__inner {
  border: 1px solid #24426c;
  background-color: #17202e;
  border-radius: 0;
  color: #c1c5c9;
  line-height: 100%;
}
/*end change define element ui style*/
.nuls-warper{
  position: relative;;
  min-height: 100%;
}
.nuls-content {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.nuls-content nav {
  margin: 15px 0;
}
.nuls-content .nuls-title {
  color: #fff;
  text-align: center;
  height: 50px;
  font-size: 16px;
}
.nuls-content .nuls-block-detail-title {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 16px
}
.nuls-content .nuls-block-detail-title .nuls-block-operation-box .nuls-buttom {
  height: 12px;
  border: 1px solid #24426c;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 5px 3px;
  text-decoration: none;
  cursor: pointer;
}
.nuls-img-icon {
  background: url(../img/nulsicon.png) no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.nuls-img-consensus {
  background-position: -8px -8px;
}
.nuls-img-block {
  background-position: -8px -48px;
}
.nuls-img-transaction {
  background-position: -8px -88px;
}
.nuls-img-three-point {
  background-position: -49px -128px;
}
.nuls-img-right-action {
  background-position: -48px -48px;
}
.nuls-gray-img-icon {
  background: url(../img/nulsfooticon.png) no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.nuls-gray-img-pigeon {
  background-position: -42px -39px;
}
.nuls-gray-img-people {
  background-position: -42px -120px;
}
.nuls-gray-img-head-portrait {
  background-position: -42px -198px;
}
.nuls-gray-img-well-number {
  background-position: -42px -278px;
}
.nuls-gray-img-three-tick {
  background-position: -121px -39px;
}
.nuls-gray-img-arrows {
  background-position: -121px -120px;
}
.nuls-gray-img--four-tick {
  background-position: -121px -198px;
}
.nuls-gray-img-Capital-F {
  background-position: -121px -278px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix {
  zoom: 1;
}
.nuls-block-box {
  border: 1px solid #658ec7;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-padding-7{
  padding-left: 7%;
}
.text-padding-5{
  padding-left: 5%;
}
.nuls-transaction-list {
  font-size: 14px;
  margin: 0;
  padding: 0
  /*共识奖励*/
}
.nuls-transaction-list li.consensus-reward {
  border-left-color: #1cc1bf;
}
.nuls-transaction-list {
  /*代币交易*/
}
.nuls-transaction-list li.tokens-trading {
  border-left-color: #c351c2;
}
.nuls-transaction-list {
  /*建立共识*/
}
.nuls-transaction-list li.consensus-building {
  border-left-color: #82db39;
}
.nuls-transaction-list {
  /*委托共识*/
}
.nuls-transaction-list li.entrust-consensus {
  border-left-color: #4aca80;
}
.nuls-transaction-list {
  /*停止共识*/
}
.nuls-transaction-list li.stop-consensus {
  border-left-color: #f6693e;
}
.nuls-transaction-list {
  /*退出委托*/
}
.nuls-transaction-list li.exit-delegate {
  border-left-color: #f6a63e;
}
.nuls-transaction-list {
  /*零钱换整*/
}
.nuls-transaction-list li.change-money {
  border-left-color: #5d56e0;
}
.nuls-transaction-list {
  /*设置别名*/
}
.nuls-transaction-list li.set-alias {
  border-left-color: #8348d3;
}
.nuls-transaction-list {
  /*黄牌*/
}
.nuls-transaction-list li.yellow-card {
  border-left-color: #f5c757;
}
.nuls-transaction-list {
  /*红牌*/
}
.nuls-transaction-list li.red-card {
  border-left-color: #f64b3e;
}
.nuls-transaction-list li {
  list-style: none;
  color: #fff;
  padding: 16px 40px 0px 40px;
  background-color: #17202e;
  margin-bottom: 10px;
  border-left: 2px solid transparent
}
.nuls-transaction-list li p {
  padding-bottom: 13px;
  margin: 0
}
.nuls-transaction-list li p span:last-child {
  text-align: right;
}
.nuls-transaction-list li p span {
  display: table-cell;
  width: 1%
}
.nuls-transaction-list li p span a {
  color: #88baff;
  text-decoration: none;
}
.nuls-transaction-list li p span i {
  vertical-align: text-top;
}
.nuls-transaction-list li > div.list-foot {
  text-align: center
}
.nuls-transaction-list li > div.list-foot > a {
  width: 100%;
  display: inline-block;
}
ul.nuls-ul-table {
  display: table;
  width: 100%;
  background-color: #17202e;
  text-align: center;
  margin: 0;
  padding: 0;
}
ul.nuls-ul-table>li {
  list-style: none;
  display:table-row
}
ul.nuls-ul-table>li > span {
  color: #fff;
  display: table-cell;
  width: 100%
}
ul.nuls-ul-table>li > span>ul.nuls-ul-sub-table{
  display:table;
  width:100%;
  table-layout: fixed;
  word-wrap: break-word;
  white-space: pre-wrap
}
ul.nuls-ul-table>li > span>ul.nuls-ul-sub-table>li{
  display:table-row
}
ul.nuls-ul-table>li > span>ul.nuls-ul-sub-table>li>span{
  display:table-cell;
  width:16.5%;
}
ul.nuls-ul-table li.head {
  height: 45px;
  line-height: 45px
}
ul.nuls-ul-table li.head > span {
  font-size: 14px;
  padding:0 30px;
  border-bottom: 1px solid #658ec7;
}
ul.nuls-ul-table li.content {
  cursor: pointer;
  height: 40px;
  line-height: 40px
}
ul.nuls-ul-table li.content > span>ul.nuls-ul-sub-table{
  margin: 0 auto;
  width: 94.2%
}
ul.nuls-ul-table li.content > span>ul.nuls-ul-sub-table>li:hover {
  background-color: #222d3e;
}
ul.nuls-ul-table li.content > span>ul.nuls-ul-sub-table>li > span {
  font-size: 14px;
  border-bottom: 1px solid #333f51;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: normal;
}
ul.nuls-ul-table li.content > span > a {
  text-decoration: none;
  color: #88baff;
}
ul.nuls-ul-table li.foot > span {
  padding:20px 20px 20px 0px;
  text-align: right;
}
.segmentation {
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 16px
}
.segmentation i {
  vertical-align: text-top;
  width: 40px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Microsoft YaHei" !important;
  margin: 0 auto;
  padding: 0;
  background: #0b1422;
}
button, input, select, textarea {
  font-size: 100%;
}
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul, ol {
  list-style: none;
}
a {
  color: #88baff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 10px 0 30px 0;
}
.baseColor{
  color: #88baff;
}
.enableColor{
  color: #8d929a;
}
.w100 {
  width: 100%;
}
.w55 {
  width: 55%;
}
.w49 {
  width: 49%;
}
.w45 {
  width: 45%;
}
.w35 {
  width: 35%;
}
.w30 {
  width: 30%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.overflow {
  overflow: hidden;
}
.pointer{
  cursor: pointer;
}
.tx_border {
  border-left: solid 2px #658ec7;
}
.tx_background {
  background-color: #17202e;
}
.tx_description {
  width: 100%;
  color: #fff;
  padding: 10px 0;
}
.fixbottom{
  position: fixed;
  bottom: 0;
  left: 0;
}
.tx_description li {
  width: 94%;
  border-bottom: solid 1px #333f51;
  margin-left: 2%;
  height: 40px;
  line-height: 40px;
  padding: 0 1%
}
.tx_description li a{
  font-size:14px;
}
.tx_description li:hover {
  background-color: #222c3e
}
.tx_description li span{
  font-size:14px;
}
.tx_list {
  margin: 40px 0 120px 0;
}
.tx_head {
  height: 46px;
  line-height: 46px;
  padding-left: 4%;
  border-bottom: solid 1px #658ec7;
  color: #fff;
}
